In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('nba_2013.csv')

In [3]:
df.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player        481 non-null    object
 1   pos           481 non-null    object
 2   age           481 non-null    int64
 3   bref_team_id  481 non-null    object
 4   g             481 non-null    int64
 5   gs            481 non-null    int64
 6   mp            481 non-null    int64
 7   fg            481 non-null    int64
 8   fga           481 non-null    int64
 9   fg.           479 non-null    float64
 10  x3p           481 non-null    int64
 11  x3pa          481 non-null    int64
 12  x3p.          414 non-null    float64
 13  x2p           481 non-null    int64
 14  x2pa          481 non-null    int64
 15  x2p.          478 non-null    float64
 16  efg.          479 non-null    float64
 17  ft            481 non-null    int64
 18  fta           481 non-null    int64
 19  ft.           461 non-null    float64
 20  orb           481 non-null    int64
 21  drb           481 non-null    int64
 22  trb           481 non-null    int64
 23  ast           481 non-null    int64
 24  stl           481 non-null    int64
 25  blk           481 non-null    int64
 26  tov           481 non-null    int64
 27  pf            481 non-null    int64
 28  pts           481 non-null    int64
 29  season        481 non-null    object
 30  season_end    481 non-null    int64
dtypes: float64(5), int64(22), object(4)
memory usage: 116.6+ KB

In [5]:
df.isnull().any().sum()

5

In [6]:
df['fg.'].fillna(df['fg.'].mean(),inplace=True)
df['x3p.'].fillna(df['x3p.'].mean(),inplace=True)
df['x2p.'].fillna(df['x2p.'].mean(),inplace=True)
df['efg.'].fillna(df['efg.'].mean(),inplace=True)
df['ft.'].fillna(df['ft.'].mean(),inplace=True)

In [7]:
import numpy as np

In [8]:
df_numerics_only = df.select_dtypes(include=np.number)

In [9]:
from sklearn.model_selection import train_test_split

x_columns = df_numerics_only[['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf']]


y_column = df_numerics_only["pts"]

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc_data=sc.fit_transform(x_columns)

In [11]:
x_train, x_test, y_train, y_test = train_test_split(sc_data, y_column, test_size=0.3, random_state=0)

In [13]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn import metrics

for k in range(10):
    k_value = k + 1
    knn = KNeighborsRegressor(n_neighbors = k_value)
    knn.fit(x_train, y_train) 
    y_pred = knn.predict(x_test)
    print ("Regression score is:",format(metrics.r2_score(y_test, y_pred),'.4f'), "for k_value:", k_value)

Regression score is: 0.9315 for k_value: 1
Regression score is: 0.9536 for k_value: 2
Regression score is: 0.9571 for k_value: 3
Regression score is: 0.9565 for k_value: 4
Regression score is: 0.9632 for k_value: 5
Regression score is: 0.9648 for k_value: 6
Regression score is: 0.9672 for k_value: 7
Regression score is: 0.9653 for k_value: 8
Regression score is: 0.9617 for k_value: 9
Regression score is: 0.9620 for k_value: 10

In [14]:
knn = KNeighborsRegressor(n_neighbors = 7)
knn.fit(x_train, y_train) 
y_pred = knn.predict(x_test)
print ("Mean Squared Error is:", format(metrics.(y_test, y_pred), '.7f'))
print ("Regression score is:", format(metrics.r2_score(y_test, y_pred),'.4f'))

Mean Squared Error is: 6275.8790992
Regression score is: 0.9672

In [15]:

Test_With_Predicted = pd.DataFrame({'Predicted Points': y_pred.tolist()})

Test_With_Predicted

     Predicted Points
0          340.428571
1          681.285714
2          973.571429
3           68.857143
4          928.857143
..                ...
140       1103.285714
141         35.142857
142        812.428571
143        710.428571
144         76.428571

[145 rows x 1 columns]